.cardQSContainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    background-image: linear-gradient(rgb(74, 74, 153), rgb(203, 207, 236));
}

.divImg1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgCardQS1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.h1CardQS1{
    font-size: 35px;
}

.h2CardQS1{
    font-size: 18px;
}

.divDesempeño1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}