*{
    margin: 0;
    padding: 0;
}

.containerHeader{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgb(74, 74, 153), white);
    justify-content: center;
    align-items: center;
}

.divImg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 400px;
    padding-top: 50px;
}

.imgLogo{
    height: 600px;
    width: 600px;
}

.divH2{
    display: flex;
    flex-direction: column;
}

.h2Header{
    font-size: 50px;

}