*{
    margin: 0;
    padding: 0;
}

.containerHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
    padding: 30px;
}

.h1Header{
    font-size: 45px;
    padding-bottom: 20px;
}