.containerNavBar{
    padding: 20px;
    background-color: rgb(203, 207, 236);
}

.ulNavBar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.ulNavBar a{
    text-decoration: none;
    color: black;
}

.liNavBar{
    font-size: 22px;
    transition: font-size 0.4s;
}

.liNavBar:hover{
    text-shadow: 1px 1px 2px rgb(74, 74, 153);
    font-size: 25px;
    color: rgb(74, 74, 153);
}

#buttonRecomendaciones{
    background-color: rgb(203, 207, 236);
    color: black;
    font-size: 22px;
    border-color: rgb(203, 207, 236);
    transition: font-size 0.4s;
}

#buttonRecomendaciones:hover{
    text-shadow: 1px 1px 2px rgb(74, 74, 153);
    font-size: 25px;
    color: rgb(74, 74, 153);
}

.ulRecomendaciones{
    list-style: none;
    padding: 15px;
}

.ulRecomendaciones li{
    padding: 3px;
}

.ulRecomendaciones li:hover{
    background-color: white;
    border-radius: 5%;
}

.dropdown-menu{
    background-color: rgb(203, 207, 236);
}

.h4Header{
    padding-top: 200px;
    padding-left: 150px;
}

.divH2{
    padding-top: 100px;
}

.divImg{
    padding-top: 80px;
    padding-left: 200px;
}
